.conteiner{
 background-color: black;
 align-items: center;
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%
  
} 
 .vermelho{
 color: red;
 font-size: larger;
 }
 .letras{
    color: aliceblue;
    font-size: larger;
 }
 .verde{
    color: rgb(5, 243, 5);
 }
 .botao {
    padding: 1em;
    margin: 100;
    background-color: blue;
    color: antiquewhite;
    display: block;
    margin-bottom: 1em;
}

  .botao2{
    background-color: transparent;
    color: antiquewhite;
    border: 2px solid white;

  }
  .caixa{
    text-align: center;
    
  }