.conteiner{
 background-color: black;
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%
  
} 
 .vermelho{
 color: red;
 }
 .letras{
    color: aliceblue;
 }
 .verde{
    color: green;
 }
 .botao {
    padding: 1em;
    margin: 100;
    background-color: blue;
    color: antiquewhite;
    display: block;
    margin-bottom: 100;
}

  .botao2{
    background-color: transparent;
    color: antiquewhite;
    border: 2px solid white;
    margin-bottom: 100;
  }
  .caixa{
    text-align: center;
    margin-bottom: 100;
    
  }