.conteiner{
 background-color: black;
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%
  
} 
 .vermelho{
 color: red;
 }
 .letras{
    color: aliceblue;
 }
 .verde{
    color: green;
 }
 .botao {
    padding: 1em;
    background-color: blue;
 }
  .botao2{
    padding: 1em;
    background-color: transparent;
    color: antiquewhite;
  }